'scopeName': 'source.gams'
'name': 'GAMS'
'fileTypes': [
  'gms','inc'
]
'patterns':[
  {
    'match': '\\%[0-9]+'
    'name': 'storage.type.macro.gams'
  }
  {
    'match': '\\%([a-zA-Z0-9_\\.])+\\%'
    'name': 'storage.type.macro.gams'
  }
  # Comments
  {
    'captures':
      '0':
        'name': 'punctuation.definition.comment.gams'
    'match': '^(\\*).*$\\n?'
    'name': 'comment.line.star.gams'
  }
  {
    'captures':
      '0':
        'name': 'punctuation.definition.comment.gams'
    'match': '(!).*$\\n?'
    'name': 'comment.line.custom.gams'
  }
  {
    'begin': '\\$(?i)(ontext)'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.begin.gams'
    'end': '\\$(?i)(offtext)'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.comment.end.gams'
    'name': 'comment.block.gams'
  }

  # Operators
  {
    'match': ';'
    'name': 'keyword.control.terminator.gams'
  }
  {
    'match': '\\.\\.'
    'name': 'keyword.control.terminator.equation.gams'
  }
  {
    'match': '\\(|\\)'
    'name': 'keyword.operator.parenthesis.gams'
  }
  {
    'match': ','
    'name': 'keyword.operator.parenthesis.inside.gams'
  }
  {
    'match': '/'
    'name': 'keyword.operator.slash.gams'
  }
  {
    'match': '\\=(e|l|g)\\='
    'name': 'keyword.operator.equation.gams'
  }
  {
    'match': '\\='
    'name': 'keyword.operator.assignment.gams'
  }
  {
    'match': '\\+|\\-|\\*|\\^|\\*\\*'
    'name': 'keyword.operator.arithmetic.gams'
  }
  {
    'match': '<|(\\blt\\b)|>|\\bgt\\b|<\\=|\\ble\\b|>\\=|\\bge\\b|\\=|\\beq\\b|<>|\\bne\\b'
    'name': 'keyword.operator.comparison.gams'
  }
  {
    'match': '\\b(?i)(and|or|not|in|xor)\\b'
    'name': 'keyword.operator.logical.gams'
  }

  # Constants
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.gams'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.gams'
    'name': 'string.quoted.double.gams'
  }
  {
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.gams'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.gams'
    'name': 'string.quoted.single.gams'
  }
  {
    'match': '\\b(-?)[0-9]+(\\.[0-9]*)?([eE](-?)[0-9]+)?\\b'
    'name': 'constant.numeric.gams'
  }
  {
    'match': '\\b(?i)(yes|no|off)\\b'
    'name': 'constant.language.gams'
  }

  # Keywords
  {
    'match': '^(?i)((set|table|(positive |negative |free |nonnegative |integer |binary |sos1 |sos2 |semicont |semiint )?variable|parameter|scalar|equation|file)s?)\\b'
    'name': 'keyword.declaration.gams'
  }
  {
    'match': '\\$(?i)(setargs)\\b'
    'name': 'storage.type.macro.gams'
  }
  {
    'match': '\\$(?i)(comment|eolcom|hidden|inlinecom|maxcol|mincol|(on|off)(eolcom|inline|margin|nestcom))\\b'
    'name': 'keyword.control.comment.gams'
  }
  {
    'match': '\\$(?i)(abort|display|double|echo|eject|error|lines|log|(on|off)(dollar|echo|include|listing|symlist|symxref|uellist|uelxref|upper)|single|stars|stitle|title)\\b'
    'name': 'keyword.control.lst.gams'
  }
  {
    'match': '\\$(?i)(batinclude|include|libinclude|(on|off)(global|include)|shift|sysinclude)\\b'
    'name': 'keyword.control.include.gams'
  }
  {
    'match': '\\$(?i)(abort|else|elseif|endif|error|goto|if((i)?(( not)?( set)?|( set)?))|label|(set|drop|eval)(global|local)?)\\b'
    'name': 'keyword.control.content.gams'
  }
  {
    'match': '\\$(?i)(on|off)(digit|eps)\\b'
    'name': 'keyword.control.numerical.gams'
  }
  {
    'match': '\\$(?i)(clear|kill)\\b'
    'name': 'storage.modifier.gams'
  }
  {
    'match': '\\$(?i)(gdx(in|out)|load|unload)\\b'
    'name': 'keyword.control.gdx.gams'
  }
  {
    'match': '\\$(?i)(dollar|(on|off)(delim|empty|end|multi|warning)|phantom|use(205|225|999))\\b'
    'name': 'keyword.control.compiler.gams'
  }
  {
    'match': '\\$(?i)(call|expose|hide|protect|purge)\\b'
    'name': 'keyword.other.gams'
  }
  {
    'match': '\\$'
    'name': 'keyword.other.gams'
  }
  {
    'match': '\\b(?i)(if|while|loop|put(close)?|abort)\\b'
    'name': 'keyword.flow.gams'
  }
  {
    'match': '\\b(?i)(alias|sum|prod|abs)\\b'
    'name': 'keyword.function.gams'
  }
  {
    'match': '\\b(?i)(ord|card|sameas)\\b'
    'name': 'keyword.function.set.gams'
  }
  {
    'match': '\\b(?i)(option|model|exist)\\b'
    'name': 'keyword.function.gams'
  }

  {
    'match': '(?i)(\\.(fx|lo|up|tl|te|l(case)?|range|m|scale|prior|slack(up|lo)?|infeas))\\b'
    'name': 'storage.type.variable.gams'
  }
  {
    'match': '\\b(?i)((execute(\\_unload)?))\\b'
    'name': 'support.function.gams'
  }
  {
    'match': '(?i)(\\.|\\b)(bratio|domlim|iterlim|lim(col|row)|nodlim|opt(ca|cr)|reslim|sol(print|veopt)|sysout)\\b'
    'name': 'support.constant.model.gams'
  }
  {
    'match': '(?i)\\.(cheat|cutoff|domusd|holdfixed|iterusd|marginals|modelstat|num(depnd|dvar|equ|infes|nopt|nz|unbd|var)|objest|optfile|prioropt|resusd|robj|scaleopt|solvestat|tmodstat|tol(infrep|proj)|try(int|linear)|tsolstat|workspace|workfactor)\\b'
    'name': 'support.constant.model.attributes.gams'
  }
  {
    'match': '(?i)\\b(clear|decimals|dmpopt|dmpsym|dualcheck|eject|forlim|kill|measure|oldname|profile(tol)?|savemoint|seed|solslack|subsystems|sys10|threads)\\b'
    'name': 'support.constant.model.options.gams'
  }
  {
    'match': '\\b(?i)(lo|nlp|qcp|dnlp|mip|minlp|rminlp|minqcp|rminqcp|mpec|rmpec|mcp|cns|mpsge|emp)\\b'
    'name': 'support.constant.model.type.gams'
  }
  {
    'match': '\\b(?i)(maximizing|minimizing|using|solve)\\b'
    'name': 'keyword.control.solve.gams'
  }
  {
    'match': '\\b(?i)(csv2gdx|gdx(copy|diff|dump|merge|rank|viewer|xrw|2access|2xls)|mcfilter|mdb2gms|sql2gms|xls2gms)\\b'
    'name': 'support.utility.gams'
  }
  {
    'begin': '\\b(?i)(onembeddedcode|onembeddedcodes|onembeddedcodev|continueembeddedcode|embeddedcode|embeddedcodes|embeddedcodev)\\b'
    'end': '\\b(?i)(offembeddedcode|pauseembeddedcode|endembeddedcode)\\b'
    'name': 'keyword.control.embedded.gams'
    'patterns': [
      {
        'include': 'source.python'
      }
    ]
  }
]
